.card {
  padding: 0px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 12%;
  justify-content: space-between;
  float: right;
  right: 5%;
  height: 35rem;}

.descContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
}

.name {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.job {
  text-align: center;
  font-size: 1.5rem;
  color: #e0ef10;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 1.2rem;
  margin-left: 20px;
}

.linkedin {
  align-self: center;
  justify-content: center;
}

@media only screen and (max-width: 1920px) {
  svg {
    width: 20px !important;
  }

  .linkedin {
    width: 40px !important;
  }

  .infoContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 1536px) {
}
