.contatti {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .text {
    /* overflow: hidden; */
  }
  
  .title {
    font-size: 5.5rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 1;
  }

  .paragraph {
      font-size: 1.5rem;
      line-height: 2.3rem;
      letter-spacing: 0.2rem;
      width: 50%;
      font-weight: 400;
  }
  
  
  
  @media only screen and (max-width: 1920px) {

  }
  