@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 20px;
  font-family: "Montserrat", "sans-serif";
  overflow-x: hidden;
  color: #f1fffa;
}

.main {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #0a0a0a;
  overflow-x: hidden;
}

/* .main::after {
  content: "";
  background-image: url("img/ep_naturalblack.png");
  height: 300%;
  width: 300%;
  opacity: 0.5;
  position: fixed;
  animation: grain 24s steps(25) infinite;
}  */

strong {
  color: #e0ef10;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 1920px) {
  html {
    font-size: 15px;
  }
}
