@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 20px;
  font-family: "Montserrat", "sans-serif";
  overflow-x: hidden;
}

.main {
  background-image: url("img/wickedbackground (1).svg");
  background-size: cover;
  height: 200vh;
  width: 100vw;
  background-attachment: fixed;
}

/* .main::after {
  content: "";
  background-image: url("img/ep_naturalblack.png");
  height: 300%;
  width: 300%;
  opacity: 0.5;
  position: fixed;
  animation: grain 24s steps(25) infinite;
}  */

strong {
    color: #E0EF10;
}
