@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 20px;
  font-family: "Montserrat", "sans-serif";
  overflow-x: hidden;
  color: #f1fffa;
}

.main {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* .main::after {
  content: "";
  background-image: url("img/ep_naturalblack.png");
  height: 300%;
  width: 300%;
  opacity: 0.5;
  position: fixed;
  animation: grain 24s steps(25) infinite;
}  */

strong {
  color: #e0ef10;
}

.clear {
  clear: both;
}

.skill {
  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.title::before {
  content: "&";
  color: #0a0a0a;
  font-size: 14rem;
  font-weight: 700;
  top: -1rem;
  right: -7rem;
  position: absolute;
  z-index: -1;
  text-shadow: 2px 0 0 #e0ef10, -2px 0 0 #e0ef10, 0 2px 0 #e0ef10,
    0 -2px 0 #e0ef10, 1px 1px #e0ef10, -1px -1px 0 #e0ef10, 1px -1px 0 #e0ef10,
    -1px 1px 0 #e0ef10;
}

.switch {
  width: 20%;
  height: 50px;
  background-color: #332f2e;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 50%;
  height: 40px;
  background-color: #2486D0;
  border-radius: 20px;
}

.code {
  position: absolute;
  top: 25px;
  left: 25px;
  margin-top: -10px;
}

.design {
  position: absolute;
  top: 25px;
  right: 25px;
  margin-top: -10px;
}

/* 
.toggleSwitch {
  background-color: #332F2E;
  display: flex;
  width: 20%;
  height: 50px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-around;
} */

.switch h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

@media only screen and (max-width: 1920px) {
  html {
    font-size: 15px;
  }
}
