.container {
  width: 1920px;
  margin: 0 auto;
}

.prova {
  position: fixed;
  border: 2px solid red;
  height: 50px;
  width: 50px;
  z-index:9999;
}

@media only screen and (max-width: 1920px) {
  .container {
    width: 1280px;
  }
}
